@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --background: 248 250 252;
  --foreground: 15 23 42;
}

.dark {
  --background: 2 6 23;
  --foreground: 226 232 240;
}

body {
  @apply antialiased;
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

a {
  @apply text-brand-600 underline-offset-4 hover:underline dark:text-brand-500;
}
